@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.13);
}

::-webkit-scrollbar-thumb {
  background: #c0b7e8;
  border-radius: 5px;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply p-0;
    @apply m-0;
    @apply box-border;
  }

  a {
    @apply no-underline;
  }

  html,
  body {
    @apply h-full;
    @apply leading-none;
  }

  body {
    @apply text-[#FFFFFF];
    @apply text-xs;
    @apply font-montserrat;
    @apply bg-[#302C42];
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1308px] px-[0.9375rem];
  }

  .btn-primary {
    @apply z-50 flex shrink-0 items-center justify-center rounded-[40px] bg-[linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_100%)] text-sm font-bold text-[#343045] hover:bg-[linear-gradient(90deg,_#8176AF_0%,_#C0B7E8_0%)] lg:text-xs;
  }
}
